{% extends "layout.html" %}

{% block content %}

<div class="content-22">
    {% if success %}
    <div class="alert alert-success" role="alert">
      Your message has been sent successfully!
    </div>
    {% endif %}
    <form name="sentMessage" id="contactForm" method="POST">      
        <input name="name" type="text" class="feedback-input" placeholder="Name" required data-validation-required-message="Please enter your name."/>   
        <input name="email" type="email" class="feedback-input" placeholder="Email Address" required data-validation-required-message="Please enter your email address"/>
        <textarea name="message" class="feedback-input" placeholder="Message" required data-validation-required-message="Please comment"></textarea>
        <input type="submit" value="SUBMIT"/>
    </form>
</div>


<style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(255, 255, 255); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 100px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(0, 0, 0);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
</style>

{% endblock %}